@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

@theme {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-text: #717171;
  --color-accent: #0BE58A;
  --color-darktxt: #c2c2c2;
}
