

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

:root{
  --color-primary: #fff;
  --color-secondary: #000;
  --color-text: #545454;
  --color-accent: #0BE58A;
  --color-darktxt: #c2c2c2;
}

body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
  }

 
  